<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主控台</title>
    <link href="css/view-style.css" rel="stylesheet">
</head>
<body>
<div class="project-list-border">
    <div class="project-list-border-title">项目名字</div>
    <img src="img/loading.gif" class="loading">
</div>
<div class="detail-list-border">
    <div class="detail-list-border-title">错误列表</div>
    <div class="detail-content"></div>
    <img src="img/loading.gif" class="loading hide">
</div>
<script src="js/util.js"></script>
<script src="js/invoke.js"></script>
<script src="js/view.js"></script>
</body>
</html>